{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}


{% block content %}
    <div class="row mb-3">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">Application</h5>
                <div class="card-body">
                    <table class="table table-hover panel-body attr-table">
                        <tr>
                            <td>Name</td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>{{ object.version }}</td>
                        </tr>
                        <tr>
                            <td>Ports</td>
                            <td>{{ object.ports }}</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            {% include 'inc/panels/comments.html' %}            
        </div>
    </div>
    <div class="row mb-3">
        <div class="col col-md-6">            
            {% include 'inc/panels/tags.html' %}
        </div>
        <div class="col col-md-6">
            {% include 'inc/panels/custom_fields.html' %}
        </div>
    </div>
{% endblock %}